In [2]:
import requests
import pandas as pd
import json

In [8]:
# TEAMS end point
headers = {
    'User-Agent': 'AFLNaturalLanguageQueryBuilder/1.0 (tobyprofitt1@gmail.com)'
}

r = requests.get('https://api.squiggle.com.au/?q=teams', headers=headers)
teams = r.json()

In [12]:
# load teams from json into pandas dataframe
df_teams = pd.DataFrame(teams['teams'])
df_teams.head()

,logo,retirement,abbrev,id,debut,name
0,/wp-content/themes/squiggle/assets/images/Adel...,9999,ADE,1,1991,Adelaide
1,/wp-content/themes/squiggle/assets/images/Bris...,9999,BRI,2,1987,Brisbane Lions
2,/wp-content/themes/squiggle/assets/images/Carl...,9999,CAR,3,1897,Carlton
3,/wp-content/themes/squiggle/assets/images/Coll...,9999,COL,4,1897,Collingwood
4,/wp-content/themes/squiggle/assets/images/Esse...,9999,ESS,5,1897,Essendon